
/*------about page start------*/

/*about header start*/
.breadcrumb-header{
    min-height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(../img/016.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
.breadcrumb-header .content{
    margin-top: 120px;
}
.breadcrumb-header ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background: none;
  }
.breadcrumb-header h2{
    color: #ffffff;
    text-align: center;
} 
.breadcrumb-hr{
    border-top: 2px solid #ffff00;
    width: 35px;
  } 
.breadcrumb-header ul.breadcrumb li {
    display: inline;
    font-size: 20px;
    color: #cccccc;
  }
.breadcrumb-header ul.breadcrumb li+li:before {
    padding: 8px;
    content: "/\00a0";
  }
.breadcrumb-header ul.breadcrumb li a {
    color: #ffffff;
    text-decoration: none;
  }
.breadcrumb-header ul.breadcrumb li a:hover {
    color: #008000;
    text-decoration: none;
  }
  /*about header start*/

  /*our story start*/
  .our-story{
    min-height: 80vh;
    padding-top: 80px;
  }
  .our-story .story{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.874), 0 6px 20px 0 rgba(0, 0, 0, 0.726);
    padding-top: 30px;
    background-color: #ffffff;
    border-radius: 10px;
  }
  @media (max-width: 768px) {
    .our-story .story{
      margin-top: 40px;
      margin: 10px;
    }
  }
  .our-story h4{
    text-align: center;
    color: #000000;
  }
  .our-story hr{
    border-top: 2px solid #ffff00;
    width: 80px;
  }
  .our-story p{
    font-size: 20px;
    color: #000000;
  }
  .our-story img{
    position: relative;
    top: 0;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.874), 0 6px 20px 0 rgba(0, 0, 0, 0.726);
  }
  @media (max-width: 768px) {
    .our-story img{
      margin-top: 40px;
    }
  }
  .our-story img:hover{
    top: -30px;
  }
  /*our story end*/

  /*vision start*/
  .vision{
    min-height: 80vh;
    padding-top: 100px;
  }
  .vision .vi{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.874), 0 6px 20px 0 rgba(0, 0, 0, 0.726);
    padding-top: 30px;
    background-color: #ffffff;
    border-radius: 10px;
  }
  @media (max-width: 768px) {
    .vision .vi{
      margin-top: 40px;
      margin: 10px;
    }
  }
  .vision h4{
    text-align: center;
    color: #000000;
  }
  .vision hr{
    border-top: 2px solid #ffff00;
    width: 80px;
  }
  .vision p{
    font-size: 20px;
    color: #000000;
  }
  .vision p i{
    color: #009900;
    font-size: 20px;
  }
  .vision img{
    position: relative;
    top: 0;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.874), 0 6px 20px 0 rgba(0, 0, 0, 0.726);
  }
  .vision img:hover{
    top: -30px;
  }
  /*vision end*/

  /*our team start*/
  .team-header{
    text-align: center;
    color: #000000;
    padding-top: 100px;
  }
  .team-header p{
    font-size: 20px;
  }
  .team-hr{
    border-top: 2px solid #ffa500;
    width: 100px;
  }
  .team {
    background: url("../img/016.jpg") center center no-repeat;
    background-size: cover;
    padding: 60px 0;
    position: relative;
  }
  
  .team::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.6);
    z-index: 9;
  }
  
  .team .container {
    position: relative;
    z-index: 10;
  }
  
  .team .member {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
  }
  
  .team .member .pic {
    overflow: hidden;
  }
  
  .team .member .member-info {
    position: absolute;
    bottom: -80px;
    left: 20px;
    right: 20px;
    background: #191919;
    padding: 20px 0;
    color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.874), 0 6px 20px 0 rgba(0, 0, 0, 0.726);
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    border-radius: 10px;
  }
  
  .team .member h4 {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 16px;
    color: #ffffff;
    position: relative;
    padding-bottom: 10px;
    font-family: "Poppins", sans-serif;
  }
  
  .team .member h4::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #b7a994;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
  }
  
  .team .member .social {
    margin-top: 15px;
  }
  
  .team .member .social a {
    transition: color 0.3s;
    color: #ffffff;
  }
  
  .team .member .social a:hover {
    color: #008000;
  }
  
  .team .member .social i {
    font-size: 16px;
    margin: 0 2px;
  }
  
  @media (max-width: 992px) {
    .team .member {
      margin-bottom: 110px;
    }
  }
  
  @media (min-width: 1024px) {
    .team {
      background-attachment: fixed;
    }
  }

  /*our team end*/

  /*call to action start*/
  /*call to action end*/

  /*------about page end------*/

  /*------services page start------*/

  /*retail start*/
  .sev{
    min-height: 80vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.874), 0 6px 20px 0 rgba(0, 0, 0, 0.726);
    margin-top: 80px;
    border-radius: 15px;
    margin: 0 20 0 20;
    background-color: #ffffff;
    margin: 60px;
  }
  @media (max-width: 768px) {
    .sev{
      margin: 10px;
    }
  }
  .sev .services-header-page h4{
    text-align: center;
    color: #000000;
    padding-top: 80px;
  }
  .sev .services-header-page hr{
    border-top: 2px solid #ffff00;
    width: 80px;
  }
  .sev .services-header-page i{
    color: #ffa500;
    font-size: 18px;
  }
  .sev p{
    font-size: 20px;
    color: #000000;
  }
  .sev p i{
    color: #009900;
    font-size: 20px;
  }
  .sev img{
    border-radius: 10px;
    position: relative;
    top: 0;
    transition: all ease-in-out 0.4s;
  }
  .sev img:hover{
    transform: scale(1.1);
  }
  .sev .responsive {
    max-width: 100%;
    height: auto;
  }
  
  /*retail end*/

  /*wholesale start*/
  
  /*whlesale end*/

  /*delivery start*/
  
  /*deliveryend*/

  /*frequently asked quetions start*/
  .faqs{
    min-height: 70vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.874), 0 6px 20px 0 rgba(0, 0, 0, 0.726);
    margin-top: 30px;
    padding-bottom: 20px;
    background-color: #ffffff;
    margin: 60px;
    border-radius: 10px;
  }
  @media (max-width: 768px) {
    .faqs{
      margin: 10px;
    }
  }
  .faqs .faqs-header{
    text-align: center;
    color: #000000;
    padding-top: 100px;
  }
  .faqs .faqs-hr{
    border-top: 2px solid #ffff00;
    width: 300px;
  }
  .faqs .faqs-header h2{
    font-size: 40px;
  }
  .faqs .faqs-header p{
    font-size: 20px;
  }
  .faqs .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
  }
  
  .faqs .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .faqs .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .faqs .active:after {
    content: "\2212";
  }
  
  .faqs .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  /*frequently asked quetions end*/

  /*testimonials start*/
  .testimonials {
    padding: 80px 0;
    background: url("../img/016.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: -1;
  }
  
  .testimonials::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(12, 11, 10, 0.7);
    z-index: -1;
  }
  
  .testimonials .section-header {
    margin-bottom: 40px;
  }
  
  .testimonials .testimonials-carousel,
  .testimonials .testimonials-slider {
    overflow: hidden;
  }
  
  .testimonials .testimonial-item {
    text-align: center;
    color: #fff;
  }
  
  .testimonials .testimonial-item .testimonial-img {
    width: 100px;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.15);
    margin: 0 auto;
  }
  
  .testimonials .testimonial-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #fff;
    font-family: "Poppins", sans-serif;
  }
  
  .testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #ddd;
    margin: 0 0 15px 0;
    font-family: "Comic Neue", sans-serif;
  }
  
  .testimonials .testimonial-item .stars {
    color: #ffb03b;
    margin-bottom: 10px;
  }
  
  .testimonials .testimonial-item .quote-icon-left,
  .testimonials .testimonial-item .quote-icon-right {
    color: rgba(255, 255, 255, 0.8);
    font-size: 26px;
  }
  
  .testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
  }
  
  .testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
  }
  
  .testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
    color: #eee;
  }
  
  .testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
  }
  
  .testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #ffb03b;
  }
  
  @media (min-width: 992px) {
    .testimonials .testimonial-item p {
      width: 80%;
    }
  }
  /*testimonials end*/
  
  /*------services page end------*/

  /*------simple page start------*/
  .fruit-categories{
    min-height: 100vh;
  }
  .fruit-categories-header{
    text-align: center;
    color: #000000;
    padding-top: 100px;
  }
  .fruit-categories-hr{
    border-top: 2px solid #ffff00;
    width: 100px;
  }
  .fruit-categories-header h2{
    font-size: 40px;
  }
  .fruit-categories-header p{
    font-size: 20px;
  }
  .fruit-categories .fruit-categories-item {
    margin-bottom: 30px;
    overflow: hidden;
  }
  .fruit-categories .fruit-categories-item img {
    padding-top: 20px;
    position: relative;
    top: 0;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .fruit-categories .fruit-categories-item .fruit-categories-info {
    opacity: 0;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: -50px;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    background:  #008000;
    padding: 5px 10px;
    border-radius: 0 0 10px 10px;
  }
  .fruit-categories .fruit-categories-item .fruit-categories-info h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
  }
  .fruit-categories .fruit-categories-item .fruit-categories-info p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
  }
  .fruit-categories .fruit-categories-item:hover img {
    top: -30px;
  }
  .fruit-categories .fruit-categories-item:hover .fruit-categories-info {
    opacity: 1;
    bottom: 0;
  }

  /*------simple page end------*/

  /*------blog page start------*/
  .blog {
    padding: 40px 0 20px 0;
  }
  
  .blog .entry {
    padding: 30px;
    margin-bottom: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.874), 0 6px 20px 0 rgba(0, 0, 0, 0.726);
    background-color: #ffffff;
    border-radius: 10px;
  }
  
  .blog .entry .entry-img {
    max-height: 440px;
    margin: -30px -30px 20px -30px;
    overflow: hidden;
  }
  
  .blog .entry .entry-title {
    font-size: 28px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 20px 0;
    background-color: #ffffff;
  }
  
  .blog .entry .entry-title a {
    color: #493c3e;
    transition: 0.3s;
  }
  
  .blog .entry .entry-title a:hover {
    color: #008000;
  }
  
  .blog .entry .entry-meta {
    margin-bottom: 15px;
    color: #b1a0a3;
  }
  
  .blog .entry .entry-meta ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .blog .entry .entry-meta ul li+li {
    padding-left: 20px;
  }
  
  .blog .entry .entry-meta i {
    font-size: 16px;
    margin-right: 8px;
    line-height: 0;
  }
  
  .blog .entry .entry-meta a {
    color: #777777;
    font-size: 14px;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
  }
  
  .blog .entry .entry-content p {
    line-height: 24px;
  }
  
  .blog .entry .entry-content .read-more {
    -moz-text-align-last: right;
    text-align-last: right;
  }
  
  .blog .entry .entry-content .read-more a {
    display: inline-block;
    background: #008000;
    color: #fff;
    padding: 6px 20px;
    transition: 0.3s;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
  }
  
  .blog .entry .entry-content .read-more a:hover {
    background: #ffa500;
  }
  
  .blog .entry .entry-content h3 {
    font-size: 22px;
    margin-top: 30px;
    font-weight: bold;
  }
  
  .blog .entry .entry-content blockquote {
    overflow: hidden;
    background-color: #fafafa;
    padding: 60px;
    position: relative;
    text-align: center;
    margin: 20px 0;
  }
  
  .blog .entry .entry-content blockquote p {
    color: #444444;
    line-height: 1.6;
    margin-bottom: 0;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
  }
  
  .blog .entry .entry-content blockquote::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #493c3e;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .blog .entry .entry-footer {
    padding-top: 10px;
    border-top: 1px solid #e6e6e6;
  }
  
  .blog .entry .entry-footer i {
    color: #9a8487;
    display: inline;
  }
  
  .blog .entry .entry-footer a {
    text-decoration: none;
    color: #57484a;
    transition: 0.3s;
  }
  
  .blog .entry .entry-footer a:hover {
    color: #008000;
  }
  
  .blog .entry .entry-footer .cats {
    list-style: none;
    display: inline;
    padding: 0 20px 0 0;
    font-size: 14px;
  }
  
  .blog .entry .entry-footer .cats li {
    display: inline-block;
  }
  
  .blog .entry .entry-footer .tags {
    list-style: none;
    display: inline;
    padding: 0;
    font-size: 14px;
  }
  
  .blog .entry .entry-footer .tags li {
    display: inline-block;
  }
  
  .blog .entry .entry-footer .tags li+li::before {
    padding-right: 6px;
    color: #6c757d;
    content: ",";
  }
  
  .blog .entry .entry-footer .share {
    font-size: 16px;
  }
  
  .blog .entry .entry-footer .share i {
    padding-left: 5px;
  }
  
  .blog .entry-single {
    margin-bottom: 30px;
  }
  
  .blog .blog-author {
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.874), 0 6px 20px 0 rgba(0, 0, 0, 0.726);
    background-color: #ffffff;
    border-radius: 10px;
  }
  
  .blog .blog-author img {
    width: 120px;
    margin-right: 20px;
  }
  
  .blog .blog-author h4 {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 0px;
    padding: 0;
    color: #493c3e;
  }
  
  .blog .blog-author .social-links {
    margin: 0 10px 10px 0;
  }
  
  .blog .blog-author .social-links a {
    color: rgba(73, 60, 62, 0.5);
    margin-right: 5px;
  }
  
  .blog .blog-author p {
    font-style: italic;
    color: #b7b7b7;
  }
  
  .blog .blog-comments {
    margin-bottom: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.874), 0 6px 20px 0 rgba(0, 0, 0, 0.726);
  }
  
  .blog .blog-comments .comments-count {
    font-weight: bold;
  }
  
  .blog .blog-comments .comment {
    margin-top: 30px;
    position: relative;
  }
  
  .blog .blog-comments .comment .comment-img {
    margin-right: 14px;
  }
  
  .blog .blog-comments .comment .comment-img img {
    width: 60px;
  }
  
  .blog .blog-comments .comment h5 {
    font-size: 16px;
    margin-bottom: 2px;
  }
  
  .blog .blog-comments .comment h5 a {
    font-weight: bold;
    text-decoration: none;
    color: #444444;
    transition: 0.3s;
  }
  
  .blog .blog-comments .comment h5 a:hover {
    color: #008000;
  }
  
  .blog .blog-comments .comment h5 .reply {
    padding-left: 10px;
    color: #493c3e;
  }
  
  .blog .blog-comments .comment h5 .reply i {
    font-size: 20px;
  }
  
  .blog .blog-comments .comment time {
    display: block;
    font-size: 14px;
    color: #655356;
    margin-bottom: 5px;
  }
  
  .blog .blog-comments .comment.comment-reply {
    padding-left: 40px;
  }
  
  .blog .blog-comments .reply-form {
    margin-top: 30px;
    padding: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .blog .blog-comments .reply-form h4 {
    font-weight: bold;
    font-size: 22px;
  }
  
  .blog .blog-comments .reply-form p {
    font-size: 14px;
  }
  
  .blog .blog-comments .reply-form input {
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 14px;
  }
  
  .blog .blog-comments .reply-form input:focus {
    box-shadow: none;
    border-color: #008000;
  }
  
  .blog .blog-comments .reply-form textarea {
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 14px;
  }
  
  .blog .blog-comments .reply-form textarea:focus {
    box-shadow: none;
    border-color: #008000;
  }
  
  .blog .blog-comments .reply-form .form-group {
    margin-bottom: 25px;
  }
  
  .blog .blog-comments .reply-form .btn-success {
    border-radius: 4px;
    padding: 10px 20px;
    border: 0;
    background-color: #008000;
  }
  
  .blog .blog-comments .reply-form .btn-success:hover {
    background-color: #ffa500;
  }
  
  .blog .sidebar {
    padding: 30px;
    margin: 0 0 60px 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.874), 0 6px 20px 0 rgba(0, 0, 0, 0.726);
  }
  
  .blog .sidebar .sidebar-title {
    font-size: 20px;
    font-weight: 700;
    padding: 0 0 0 0;
    margin: 0 0 15px 0;
    color: #493c3e;
    position: relative;
  }
  
  .blog .sidebar .sidebar-item {
    margin-bottom: 30px;
  }
  
  .blog .sidebar .search-form form {
    background: #fff;
    border: 1px solid #ddd;
    padding: 3px 10px;
    position: relative;
  }
  
  .blog .sidebar .search-form form input[type=text] {
    border: 0;
    padding: 4px;
    border-radius: 4px;
    width: calc(100% - 40px);
  }
  
  .blog .sidebar .search-form form button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 15px;
    margin: -1px;
    background: #008000;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    line-height: 0;
  }
  
  .blog .sidebar .search-form form button i {
    line-height: 0;
  }
  
  .blog .sidebar .search-form form button:hover {
    background: #ffa500;
  }
  
  .blog .sidebar .categories ul {
    list-style: none;
    padding: 0;
    margin-left: -200px;
  }
  
  .blog .sidebar .categories ul li+li {
    padding-top: 10px;
  }
  
  .blog .sidebar .categories ul a {
    text-decoration: none;
    color: #493c3e;
    transition: 0.3s;
  }
  
  .blog .sidebar .categories ul a:hover {
    color: #008000;
  }
  
  .blog .sidebar .categories ul a span {
    padding-left: 5px;
    color: #aaaaaa;
    font-size: 14px;
  }
  
  .blog .sidebar .recent-posts .post-item+.post-item {
    margin-top: 15px;
  }
  
  .blog .sidebar .recent-posts img {
    width: 80px;
    float: left;
  }
  
  .blog .sidebar .recent-posts h4 {
    font-size: 15px;
    margin-left: 95px;
    font-weight: bold;
  }
  
  .blog .sidebar .recent-posts h4 a {
    text-decoration: none;
    color: #493c3e;
    transition: 0.3s;
  }
  
  .blog .sidebar .recent-posts h4 a:hover {
    color: #008000;
  }
  
  .blog .sidebar .recent-posts time {
    display: block;
    margin-left: 95px;
    font-style: italic;
    font-size: 14px;
    color: #aaaaaa;
  }
  
  .blog .sidebar .tags {
    margin-bottom: -10px;
  }
  
  .blog .sidebar .tags ul {
    list-style: none;
    padding: 0;
  }
  
  .blog .sidebar .tags ul li {
    display: inline-block;
  }
  
  .blog .sidebar .tags ul a {
    color: #8e767a;
    font-size: 14px;
    text-decoration: none;
    border-radius: 10px;
    padding: 6px 14px;
    margin: 0 6px 8px 0;
    border: 1px solid #f6f4f4;
    display: inline-block;
    transition: 0.3s;
  }
  
  .blog .sidebar .tags ul a:hover {
    color: #fff;
    border: 1px solid #008000;
    background: #008000;
  }
  
  .blog .sidebar .tags ul a span {
    padding-left: 5px;
    color: #dfd8d9;
    font-size: 14px;
  }
  
  /*------blog page end------*/

  /*------blog single page end------*/
  /*------blog single page end------*/
